.banner {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
  z-index: 0;
  color: $white;

  &.container {
    padding-left: 0;
    padding-right: 0;
  }
}

.banner__wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 27px 30px 0 30px;
  text-align: center;
}

.banner__img {
  position: absolute;
  min-width: 100%;
  min-height: 302px;
  max-height: 460px;
  z-index: -2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  object-fit: cover;
}

.banner__text {
  max-width: 250px;
}

.banner__title {
  @include zero-margin;
  margin-bottom: 25px;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: -2px;
  line-height: 36px;
}

.banner__descr {
  @include zero-margin;
  margin-bottom: 52px;
  font-size: 14px;
  line-height: 14px;
}

.banner__link {
  display: block;
  width: calc(100% - 40px);
  padding: 14px 0;
  background-color: $basic_green;
  text-transform: uppercase;
  font-size: 20px;
  color: $white;
  text-align: center;
}

.banner__product {
  // width: 552px;
  // height: 499px;
}
