.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 22px;
  background-color: $basic_grey;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.footer__logo {
  margin-bottom: 32px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  &-img {
    width: 128px;
    height: 24px;
  }
}

.footer__line {
  @include zero-margin;
  background-color: #d9d9d9;
  height: 1px;
  width: 100%;
}

.footer__socials {
  @include zero-list;
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 21px;
}

.footer__social-item:not(:last-child) {
  margin-right: 27px;
}

.footer__social-link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  // background-size: 40px 40px;
  width: 32px;
  height: 22px;

  &--vk {
    background-image: url(../img/images/vk.svg);
  }

  &--ig {
    width: 23px;
    height: 23px;
    background-image: url(../img/images/ig.svg);
  }

  &--fb {
    width: 13px;
    height: 27px;
    background-image: url(../img/images/fb.svg);
  }
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 22px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    margin: 0;
    justify-content: end;
    width: auto;
  }

  a {
    text-decoration: none;
    color: $special_dark-grey;

    @media (min-width: $tablet-width) {
      margin: 0;
      justify-content: end;
      width: auto;

      :not(:last-child) {
        margin-right: 22px;
      }
    }
  }
}
