.location {
  position: relative;
  min-height: 474px;
  padding-left: 0;
  padding-right: 0;
}

.location__map {
  position: absolute;
  top: 112px;
  right: 0;
  left: 0;
  bottom: 0;
  background: no-repeat 100%/100% url(../img/pictures/location-mobile.png);

  z-index: -1;
}

.location__data {
  // width: 565px;
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;
  background-color: $basic_grey;
  z-index: 1;

  @media (min-width: $tablet-width) {
    padding: 60px 70px 56px;
  }
}

.location__invite {
  @include zero-margin;
  width: 135px;
  font-size: 16px;
  line-height: 20px;
  color: $special_black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }
}

.location__address {
  width: 140px;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  p {
    @include zero-margin;
    @media (min-width: $tablet-width) {
      margin-top: 10px;
    }
  }
}
