.location {
  min-height: 400px;
  padding-top: 95px;
  padding-bottom: 107px;
  background-image: url(../img/pictures/Map.png);
}

.location__data {
  width: 565px;
  display: flex;
  padding: 56px 80px;
  background-color: #fff;
}

.location__invite {
  width: 165px;
  margin-right: 65px;
  font-size: 20px;
  line-height: 26px;
  color: #111;
  text-transform: uppercase;
}

.location__address {
  width: 155px;
  line-height: 20px;
  color: #444;
  font-style: normal;

  p {
    margin: 0;
    margin-top: 19px;
  }
}
