.services {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 71px;
  }
}

.services__list {
  @include zero-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.services__item {
  width: 100%;
  padding: 30px 30px 18px 20px;
  background-color: $basic_grey;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 46%;
    padding: 77px 51px 59px 52px;
    &:not(:last-child) {
      margin-bottom: 0px;
    }
  }
}

.services__item-title {
  @include zero-margin;
  position: relative;
  margin-bottom: 29px;
  padding-left: 75px;
  font-size: 24px;
  font-weight: 400;
  color: $black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    padding-left: 0;
    font-size: 36px;
  }

  &--lighting::before {
    position: absolute;
    top: -15px;
    left: 0;
    width: 50px;
    height: 53px;
    background-size: cover;
    background-image: url(../img/images/lighting.svg);
    content: "";

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 200px;
      height: 201px;
      right: 62px;
      top: 2px;
      left: auto;
    }
  }

  &--mass::before {
    position: absolute;
    top: -10px;
    left: 0;
    width: 67px;
    height: 50px;
    background-size: cover;
    background-image: url(../img/images/mass.svg);
    content: "";

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      width: 268px;
      height: 200px;
      right: 62px;
      top: 2px;
      left: auto;
    }
  }
}

.services__descr {
  @include zero-margin;
  margin-bottom: 23px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    width: 48%;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 52px;
  }
}

.services__item-line {
  margin-bottom: 15px;
  background-color: 1px solid #d9d9d9;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: none;
  }
}

.services__link {
  position: relative;
  font-size: 16px;
  color: $black;
  text-decoration: none;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    font-size: 20px;
  }

  &::after {
    position: absolute;
    content: url(../../img/images/arrow.svg);
    left: 82px;
    top: 2px;

    @media (min-width: $tablet-width) and (max-width: $desktop-width) {
      left: 100px;
    }
  }
}
