.works {
  margin-bottom: 50px;
}

.works__title {
}

.works__list {
  @include zero-list;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    display: grid;
    // flex-direction: row;
    justify-content: space-between;
    grid-template-columns: repeat(2, 1fr);
    // flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.works__item {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 20px;
  align-items: center;
  padding-top: 40px;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    width: 250px;
    flex-direction: row;
    justify-content: space-between;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 80px 1fr;
  }
}

.works__number {
  display: none;
  @include zero-margin;
  z-index: -1;

  @media (min-width: $tablet-width) {
    display: block;
    font-size: 280px;
    line-height: 280px;
    color: $basic_grey;
    grid-row: 1 / -1;
    grid-column: 2 / -1;
  }
}

.works__item-descr {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;

  @media (min-width: $tablet-width) {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
}
