.catalog__header {
  position: static;
  margin-bottom: 10px;
  padding-top: 11px;
  padding-bottom: 7px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 54px;
  }
}

.catalog__nav-list {
  a {
    color: $black;
  }
}

.catalog__catalog {
  margin-bottom: 76px;
}

.catalog__title {
  @include zero-margin;
  text-align: center;
  padding: 27px 20px 42px;
  // margin-bottom: 84px;
  font-size: 36px;
  line-height: 36px;
  color: $black;
  font-weight: 400;
  border-top: 1px solid #d9d9d9;

  @media (min-width: 768px) {
    margin-bottom: 84px;
    font-size: 60px;
    border-top: 1px solid transparent;
    text-align: left;
    padding-left: 0;
  }
}

.catalog__list {
  @include zero-list;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(2, 324px);
    column-gap: 60px;
    row-gap: 60px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 245px);
    column-gap: 80px;
    row-gap: 62px;
  }
}

.catalog__item {
  // padding-top: 11px;
  // padding-bottom: 13px;
  // display: grid;
  // align-items: center;
  // // height: 165px;
  // position: relative;
  // justify-content: center;
  // grid-template-columns: 1fr 1fr;
  // row-gap: 13px;
  // border-top: 1px solid #d9d9d9;

  // @media (min-width: $tablet-width) {
  //   background-color: $basic_grey;
  //   min-height: 431px;
  //   align-items: flex-end;
  //   padding-bottom: 39px;
  //   padding-top: 161px;
  //   grid-template-columns: 1fr;
  //   row-gap: 33px;
  //   // background-image: linear-gradient(to top, #f2f2f2 511px, #ffffff 511px);
  //   border-top: 1px solid $white;
  // }

  // &--more {
  //   grid-template-columns: 1fr;
  //   align-items: center;
  //   background-color: $white;
  //   background-image: none;
  //   border: 2px solid $basic_grey;
  // }

  // position: relative;
  // z-index: 0;

  padding-top: 19px;
  padding-bottom: 25px;
  display: grid;

  &:last-child {
    border-bottom: 1px solid $basic_grey;
  }

  @media (max-width: $tablet-width) {
    border-top: 1px solid $basic_grey;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "img title"
      "img list"
      "button button";
  }

  @media (min-width: $tablet-width) {
    padding: 8px 38px 40px;
    grid-template-rows: 200px auto;
    grid-template-areas:
      "img"
      "title"
      "list"
      "button";

    background-color: $basic_grey;
    background-image: linear-gradient(to bottom, $white 80px, $basic_grey 80px);
  }
}

.catalog__item-wrapper {
  width: 100%;
  height: 165px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  padding-bottom: 9px;

  @media (min-width: $tablet-width) {
    margin-top: 73px;
    // background-color: $basic_grey;
    // height: 431px;
    // padding-bottom: 40px;
    padding-left: 35px;
    padding-right: 30px;
    border: 2px solid transparent;
    margin-bottom: 33px;
  }

  hr {
    display: none;
    @media (min-width: $tablet-width) {
      display: block;
      background-color: $special_grey;
      height: 1px;
    }
  }

  &--more {
    background-color: $white;
    // border: 2px solid $basic_grey;

    .catalog__item-title,
    .catalog__item-option {
      width: auto;
      text-align: center;
    }
  }
}

// .catalog__item-img-wrapper {
//   display: flex;
//   // align-items: flex-end;
//   justify-content: center;
//   // width: 84px;
//   height: 100px;
//   // position: absolute;
//   top: 0;
//   left: 26px;

//   @media (min-width: $tablet-width) and (max-width: $desktop-width) {
//     left: 72px;
//   }

//   @media (min-width: $tablet-width) {
//     position: absolute;
//     width: 172px;
//     height: 196px;

//     img,
//     picture,
//     svg {
//       align-self: flex-end;
//     }
//   }
// }

.catalog__item-picture,
.catalog__item-img {
  grid-area: img;
  align-self: center;
  justify-self: center;
  width: auto;

  @media (min-width: $tablet-width) {
    margin-bottom: 27px;
  }
}

// .catalog__item-info {
//   @media (min-width: $tablet-width) {
//     margin-bottom: 33px;
//   }
// }

.catalog__item-title {
  grid-area: title;
  margin: 0;

  margin-bottom: 14px;
  width: 80px;
  font-size: 16px;
  font-weight: 500;
  color: #222222;

  @media (min-width: $tablet-width) {
    align-self: center;
    justify-self: center;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 21px;
    width: 145px;
    text-align: center;
  }
}

.catalog__inner-list {
  grid-area: list;
  margin-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-bottom: 33px;
  }
}

.catalog__item-option {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  width: 141px;

  @media (min-width: $tablet-width) {
    padding-top: 7px;
    padding-bottom: 9px;
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 6px;
    width: auto;
    border-bottom: 1px solid $special_grey;

    &:not(:last-child) {
      margin-top: 7px;
    }
  }
}

.catalog__item-btn {
  grid-area: button;
  @include zero-btn;
  padding: 10px 53px;
  width: 100%;
  border: none;
  background-color: $basic_green;
  color: $white;
  font-size: 16px;
  text-transform: uppercase;
  grid-column: 1/-1;
  margin: auto;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    width: auto;
  }

  &--more {
    // padding: 10px 39px;
    width: 100%;
    padding: 10px 0;
    // padding-top: 10px;
    // padding-bottom: 10px;
    text-align: center;
    background-color: $basic_grey;
    font-size: 16px;
    font-weight: 500;
    color: $special_dark-grey;
  }
}

.catalog__item--more {
  background-color: transparent;
  background-image: none;
  grid-template-areas:
    "img"
    "title"
    "list"
    "button";
  grid-template-columns: auto;

  @media (min-width: $tablet-width) {
    grid-template-rows: auto;
    margin-top: 80px;
    border: 1px solid $basic_grey;
  }

  .catalog__item-title {
    width: auto;
    justify-self: center;
  }

  .catalog__item-img {
    margin-bottom: 49px;
  }

  .catalog__inner-list {
    margin-bottom: 21px;
    justify-self: center;
    @media (min-width: $tablet-width) {
      margin-bottom: 82px;
    }
  }

  .catalog__item-option {
    border: none;
    text-align: center;
    width: auto;
  }
}
