.catalog__extra-goods {
  margin-bottom: 86px;
}

.catalog__extra-title {
  margin-bottom: 81px;
}

.catalog__extra-wrapper {
  display: block;

  @media (min-width: 1024px) {
    display: flex;
  }
}

.catalog__extra-list {
  width: 896px;
}

.catalog__extra-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: 640px) {
    grid-template-columns: 180px 150px 60px;
    column-gap: 60px;
    row-gap: 60px;
  }

  @media (min-width: 1024px) {
    grid-template-columns: 180px 150px 50px 244px;
    // column-gap: 80px;
    // row-gap: 63px;
    grid-template-columns: 180px 150px 50px 244px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #cdcdcd;
  }

  &:last-child {
    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog__extra-item-title {
  grid-column: 1 / -1;
  @media (min-width: 1024px) {
    grid-column: 1 / 2;
  }
}

.catalog__extra-item-price {
  justify-self: end;
}

.catalog__extra-item-btn {
  grid-column: 1 / -1;
  background-color: #68b738;
  color: #fff;
  font-weight: 500;
  border: none;

  @media (min-width: 1024px) {
    grid-column: -2 / -1;
  }
}

.catalog__extra-gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  padding: 55px 40px 42px 40px;
  width: 245px;
  background-image: url(../../img/pictures/catalog/extra.png);
  background-repeat: no-repeat;
}

.catalog__extra-gift-text {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
  color: #fff;
}
