* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 30px;
    padding-right: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
    max-width: 1440px;
  }
}

html {
  height: 100%;
}

body {
  @include zero-margin;
  display: flex;
  flex-direction: column;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  min-height: 100%;
  line-height: 24px;
  font-weight: 400;
  color: $special_dark-grey;
}

.body--locked {
  overflow: hidden;
}

.main-container {
  flex-grow: 1;
}

// ul,
// ol {
//   list-style: none;
//   margin: 0;
//   padding: 0;
// }

img {
  margin: 0;
  max-width: 100%;
  object-fit: contain;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  @include zero-margin;
  font-size: 36px;
  color: $black;
  margin-bottom: 40px;
  line-height: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    margin-bottom: 32px;
    line-height: 60px;
  }
}
