$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;

$white: #fff;
$black: #000;
$special_black: #111;
$basic_green: #68b738;
$basic_grey: #f2f2f2;
$special_dark-grey: #444;
$special_grey: #cdcdcd;
